<!DOCTYPE html>
<html>
<head>
	<title>Sign in/up Form</title>
	<script src="https://kit.fontawesome.com/5b23eb7909.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method="POST" name="myForm" onsubmit="return validateForm()">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f red"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g red"></i></a>
				<a href="#" class="social"><i class="fab fa-github red"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in red"></i></a>
			</div>
			<span>or use your email for registration</span>
			<div class="formdesign" id="name">
				<input type="text" name="username" id="name" placeholder="username" autocomplete="off" required/>
				<p class="formerror" style="color: red; font-size: 10px; margin: 0; padding: 0;"></p>
			</div>

			<div class="formdesign" id="email">
				<input type="email" id="email" name="email" placeholder="Email" autocomplete="off" required/>
				<p class="formerror" style="color: red; font-size: 10px; margin: 0; padding: 0;"></p>
			</div>

			<div class="formdesign" id="pass">
				<input type="password" id="pass" name="password" placeholder="Password" autocomplete="off" required/>
				<p class="formerror" style="color: red; font-size: 10px; margin: 0; padding: 0;"></p>
			</div>

			<div class="formdesign" id="cpass">
				<input type="password" id="cpass" name="cpass" placeholder="Confirm Password" autocomplete="off" required/>
				<p class="formerror" style="color: red; font-size: 10px; margin: 0; padding: 0;"></p>
			</div>

			<div class="checkbox-div">
				<input type="checkbox" class="check-box" required><span>agree to terms & conditions</span>
			</div>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f red"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g red"></i></a>
				<a href="#" class="social"><i class="fab fa-github red"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in red"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" name="username" placeholder="username" />
			<input type="password" name="password" placeholder="Password" />
			<p><%= message %></p>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Dear, customer!</h1>
				<p>Enter your personal details and get started</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<% let date = new Date().getFullYear(); %>
	<p>&copy; since <%= date %> </p>
</footer>
<script src="/js/login.js"></script>
</body>
</html>